body {
  line-height: 1;
}

.font-1_5rem {
  font-size: 1.5rem;
}

.font-2rem {
  font-size: 2rem;
}

.font-3rem {
  font-size: 3rem;
}

.font-3_5rem {
  font-size: 3.5rem;
}

.font-4rem {
  font-size: 4rem;
}

.font-4_5rem {
  font-size: 4.5rem;
}

.font-5rem {
  font-size: 5rem;
}

.font-6rem {
  font-size: 6rem;
}

.font-6_5rem {
  font-size: 6.5rem;
}

.font-7rem {
  font-size: 7rem;
}

.pl-7rem {
  padding-left: 7rem;
}

.pb-100px {
  padding-bottom: 100px;
}

.float-menu {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 19px -3px #bdbdbd;
}

.last-receive-time {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}

th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f3f3f3 !important;
}

.table-table-wrapper {
  overflow-y: scroll;
  height: 220px;
  font-size: 1.5rem;
}

.reverse-table-wrapper {
  overflow-y: scroll;
  height: 600px;
  font-size: 1.5rem;
}

.w-fit-content {
  width: fit-content;
}